
html, body { width: 100%; height: 100%; overflow-x: hidden;}

body {
  padding: 0px; margin: 0;
  background-color: #f2f2f2;
}

.well {
  border: none;
  border-right: 1px solid #e2e2e2;;
  border-radius: 0;
  background-color: #dde7f1;
}

.navbar {
  margin-bottom: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.main-panel {
  padding-right: 0;
}

.summary-row {
  min-height: 50px;
}

.container-fluid {
  height: calc(100% - 101px);
}

.fullheight {
  height: 100%;
}

#water_districts-map {
  height: 100% !important;
}

#water_districts-usage_chart {
  height: 100% !important;
}
